spinner {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  background-color: rgba(64, 64, 64, 0.5);
}

spinner.visible {
  opacity: 1;
}

.head {
  border: 1px solid @borders;
  border-radius: 1px;
  background-color: @theme_bg_color;
  transition: background-color 200ms ease-in-out;
}
.head:hover {
  background-color: @theme_selected_bg_color;
}
